.field{
  width: 500px;
  padding-bottom: 30px;
}

.colour-border{
  border: 5px solid rgb(250, 91, 6);
  padding: 20px;
}

.header{
  padding: 30px;
}

body{
  padding: 40px;
  background-color: rgb(0, 34, 255);
}